.Site {
  text-align: center;
}

.Site-logo {
  animation: Site-logo-spin infinite 20s linear;
  height: 80px;
}

.Site-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Site-profileControls {
  padding: 10px;
}

.Site-profilePicture {
  display: block;
  width: 192px;
  height: 192px;
  margin: 10px auto;
}

.Site-page {
  padding: 10px;
}

@keyframes Site-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
